<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À Propos - Refulik</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600&family=Big+Shoulders+Stencil+Display:wght@400&display=swap&family=Raleway:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/apropos.css">
</head>

<body>

<!-- Header -->
<header>
    <nav>
        <div class="logo">
            <img src="/Image_republik_entertainment/Logo republik entertainment.png" alt="Logo Republik Entertainment">
        </div>
        <ul>
            <li><a href="/" class="home">Accueil</a></li>
            <li><a href="/a-propos">À propos</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/contact">Contacts</a></li>
        </ul>
        <a href="/contact" class="cta-button">Je fais ma réservation</a>
    </nav>
 </header> 

    <section class="hero">
        <h1>À PROPOS</h1>
    </section>

    <section class="notre-histoire">

        <h2>NOTRE HISTOIRE</h2>
        <div class="descrihistoire">
            
            <h3 > <span class="quote">“</span>RepublikEntertainment est une entreprise de production de contenus audiovisuels pour particulier, et pour personne morale.Depuis 2015 nous intervenons sur plusieurs projets d’ordre privé ou public notamment en production de photographie,vidéographie,d’enregistrement audio et dans la formation.</h3><span class="quote">“</span>
        </div>
        
     <div class="histoire-grid">
        <div class="histoire-texte1">
            Rencontrez le photographe derrière Republik Entertainment
        </div>
        
        <div class="histoire-content">
            <img src="/Image_republik_entertainment/edd.jpg" alt="Portrait">
            <div class="texte">  Je suis passionné par la communication, <br>avec 7 ans d'expérience en photographie <br> professionnelle et 3 ans dans la conception <br>de stratégies de communication.<br>
                Je m'efforce de diriger une équipe dynamique <br> à qui je transmets ma passion.<br>
                Toujours à la recherche de solutions <br>innovantes dans la communication <br> d'entreprise, des personnalités publiques et <br>des événements, j'apprécie échanger avec des <br>passionnés et professionnels du secteur.<br>
                Je reste à votre disposition si vous souhaitez <br>partager votre projet ou votre passion avec moi.
            </div>
            <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">

        </div>
    
      </div>
        <div class="gallery">
            <img src="/Image_republik_entertainment/republik56.jpg" alt="Image 1">
            <img src="/Image_republik_entertainment/republik70.jpg" alt="Image 2">
            <img src="/Image_republik_entertainment/republik17.jpg" alt="Image 3">
            <img src="/Image_republik_entertainment/republik14.jpg" alt="Image 4">
        </div>
    </section>


    <section class="contact-section">
    <div class="container">
        <div class="content-grid"> 
        <div class="text-content"> 
            <h5>CRÉER DES SOUVENIRS</h5>
            <h1>Votre Histoire, Mon objectif</h1> <br>
            <div class="background-full-width">
                <div class="partie-text">
                    Chez Republik Entertainment, nous croyons que chaque image raconte une histoire. Notre équipe talentueuse est dédiée à capturer vos moments uniques, qu'il s'agisse d'un événement d'entreprise, d'un mariage, ou d'une campagne publicitaire. Avec nous, transformez vos idées en réalités visuelles impressionnantes.
                </div>
            </div>            
            <a href="contact.html" class="contact-button">CONTACTEZ-NOUS</a> 
        </div>
      <div class="image-content">
        <div class="image-content">
            <img src="/Image_republik_entertainment/republik71.jpg" alt="Wedding photo 1" class="top-image">
        </div> 
        <div class="image-content">
            <img src="/Image_republik_entertainment/republik29.jpg" alt="Wedding photo 2" class="bottom-image">
        </div>
    </div>
     </div>
    </div>
    </section>

<!-- Footer -->
<footer>
    <div class="footer-container">
        <!-- Logo and Description -->
        <div class="footer-logo">
            <img src="/Image_republik_entertainment/Logo republik entertainment.png" alt="Logo Republik Entertainment">
            <p> Avec nous, Capturez l'inouï, Devenez mémorable.</p>
            <div class="footer-social">
                <a href="https://wa.me/2250584442034" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/Republikent/?locale=fr_FR" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/republikent/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/@republikentertainmenttv7535" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <!-- Contact Information -->
        <div class="footer-contact">
            <h3>Nous joindre</h3>
            <p><i class="fas fa-phone-alt"></i> +225 05 84 44 20 34</p>
            <p><i class="fas fa-envelope"></i> RepublikEntertainment@gmail.com</p>
            <p><i class="fas fa-map-marker-alt"></i> Angré 9ème tranche, Immeuble DERRA au dos de CGK (3ème étage)</p>
        </div>

        <!-- Quick Links -->
        <div class="footer-links">
            <h3>Liens Rapides</h3>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/a-propos">À propos</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contacts</a></li>
            </ul>
        </div>

    </div>

    <!-- Copyright -->
    <div class="footer-bottom">
        <p>&copy; 2024 Republik Entertainment. Tous droits réservés.</p>
    </div>
</footer>

</body>
</html>


