<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600&family=Big+Shoulders+Stencil+Display:wght@400&display=swap&family=Raleway:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/footer.css">

</head>
<body>
    <!-- Footer -->
<footer>
    <div class="footer-container">
        <!-- Logo and Description -->
        <div class="footer-logo">
            <img src="/Image_republik_entertainment/Logo republik entertainment.png" alt="Logo Republik Entertainment">
            <p> Avec nous, Capturez l'inouï, Devenez mémorable.</p>
            <div class="footer-social">
                <a href="#"><i class="fab fa-whatsapp"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <!-- Contact Information -->
        <div class="footer-contact">
            <h3>Nous joindre</h3>
            <p><i class="fas fa-phone-alt"></i> +225 05 84 44 20 34</p>
            <p><i class="fas fa-envelope"></i> RepublikEntertainment@gmail.com</p>
            <p><i class="fas fa-map-marker-alt"></i> Angré 9ème tranche, Immeuble DERRA au dos de CGK (3ème étage)</p>
        </div>

        <!-- Quick Links -->
        <div class="footer-links">
            <h3>Liens Rapides</h3>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/a-propos">À propos</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/portofolio">Portfolio</a></li>
                <li><a href="/contact">Contacts</a></li>
            </ul>
        </div>

    </div>

    <!-- Copyright -->
    <div class="footer-bottom">
        <p>&copy; 2024 Republik Entertainment. Tous droits réservés.</p>
    </div>
</footer>


</body>
</html>