<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600&family=Big+Shoulders+Stencil+Display:wght@400&display=swap&family=Raleway:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/navbar.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/Image_republik_entertainment/Logo republik entertainment.png" alt="Logo Republik Entertainment">
            </div>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/a-propos">À propos</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/portopfolio">Portfolio</a></li>
                <li><a href="/contact">Contacts</a></li>
            </ul>
            <a href="/contact" class="cta-button">Je fais ma réservation</a>
        </nav>
    </header>
</body>
</html>