<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nos Services</title>
    <link rel="stylesheet" href="/static/services.css">
</head>
<body>

    <header>
        <nav>
            <div class="logo">
                <img src="/Image_republik_entertainment/Logo republik entertainment.png" alt="Logo Republik Entertainment">
            </div>
            <ul>
                <li><a href="/" class="home">Accueil</a></li>
                <li><a href="/a-propos">À propos</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contacts</a></li>
            </ul>
            <a href="/contact" class="cta-button">Je fais ma réservation</a>
        </nav>
     </header>

    <!-- Section Bannière -->
    <div class="banner">
        <img src="/Image_republik_entertainment/IMG_8951.jpg" alt="Bannière Services">
        <h1>NOS SERVICES</h1>
    </div>

    <!-- Pack Photographie -->
    <div class="service-header">
        <h3>NOS SERVICES</h3>
        <h2>PACK PHOTOGRAPHIE</h2>
    </div>
    <section class="service-section">
        
        <div class="service-content">
            <div class="service-item">
                <img src="/Image_republik_entertainment/republik14.jpg" alt="Pack Photographie 1" class="superpose-image up">
                
            </div>
            <div class="service-item">
                <img src="/Image_republik_entertainment/republik22-2.jpg" alt="Pack Photographie 2" class="superpose-image">
                
            </div>
            <div class="service-item">
                <img src="/Image_republik_entertainment/republik33.jpg" alt="Pack Photographie 3" class="superpose-image">
               
            </div>
           
        </div>

        
    </section>
    <div class="service-description">
        <p>Des photos impeccables, en studio ou en extérieur. <br> 
            Séances personnalisées pour entreprises, <br> mode ou lifestyle. Retouches incluses.</p>
    </div>

    <!-- Portraits -->
    <div class="service-header">
        <h2>Portraits</h2>
    </div>
    <section class="service-section" id="shooting">
        <div class="service-content">
            <div class="service-item">
                <img src="/Image_republik_entertainment/republik2.jpg" alt="Portrait 1" class="superpose-image up">
               
            </div>
            <div class="service-item" id="portraits">
                <img src="/Image_republik_entertainment/republik3.jpg" alt="Portrait 2" class="superpose-image ">
              
            </div>
            <div class="service-item">
                <img src="/Image_republik_entertainment/republik5.jpg" alt="Portrait 2" class="superpose-image ">
               
            </div>
        </div>
        
    </section>

    <div class="service-description">
        <p>Des portraits authentiques qui révèlent votre personnalité. Séances détendues en studio ou en lumière naturelle. Options noir et blanc ou couleur.</p>
    </div>

    <!-- Photographie Événementielle -->
    <div class="service-header" id="evenements">
        <h2>Photographie Événementielle</h2>
    </div>
    <section class="service-section">
        <div class="service-content">
            <div class="service-item">
                <img src="/Image_republik_entertainment/republik14-2.png" alt="Événement 1" class="superpose-image up">
               
            </div>
            <div class="service-item">
                <img src="/Image_republik_entertainment/republik3-2.png" alt="Événement 2" class="superpose-image ">
             
            </div>
            <div class="service-item">
                <img src="/Image_republik_entertainment/republik26-2.png" alt="Événement 3" class="superpose-image">
                
            </div>

        </div>
    </section>

    <div class="service-description">
        <p>Des portraits authentiques qui révèlent votre personnalité. Séances détendues en studio ou en lumière naturelle. Options noir et blanc ou couleur.</p>
    </div>

    <!-- Shooting Produit -->
    <div class="service-header">
        <h2>Shooting Produit</h2>
    </div>
    <section class="service-section">
        <div class="service-content">
            <div class="service-item">
                <img src="/Image_republik_entertainment/republik49.jpg" alt="Produit 1">
              
            </div>
            <div class="service-item">
                <img src="/Image_republik_entertainment/republik50.jpg" alt="Produit 2">
               
            </div>
        </div>
    </section>
    <div class="service-description">
        <p>Mettez vos produits en valeur avec des photos professionnelles  <br>qui attirent l’attention. Idéal pour vos boutiques en ligne, <br> catalogues ou réseaux sociaux.</p>
    </div>

    <!-- Appel à l'action -->
    <section class="cta">
        <h3>Et ce n'est pas tout...</h3>
        <p>Découvrez nos autres services exclusifs! <br> photographie d'architecture, et bien plus encore.</p>
        <a href="/contact" class="btn-cta">CONTACTEZ-NOUS</a>
    </section>

<!-- Footer -->
<footer>
    <div class="footer-container">
        <!-- Logo and Description -->
        <div class="footer-logo">
            <img src="/Image_republik_entertainment/Logo republik entertainment.png" alt="Logo Republik Entertainment">
            <p> Avec nous, Capturez l'inouï, Devenez mémorable.</p>
            <div class="footer-social">
                <a href="https://wa.me/2250584442034" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/Republikent/?locale=fr_FR" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/republikent/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/@republikentertainmenttv7535" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <!-- Contact Information -->
        <div class="footer-contact">
            <h3>Nous joindre</h3>
            <p><i class="fas fa-phone-alt"></i> +225 05 84 44 20 34</p>
            <p><i class="fas fa-envelope"></i> RepublikEntertainment@gmail.com</p>
            <p><i class="fas fa-map-marker-alt"></i> Angré 9ème tranche, Immeuble DERRA au dos de CGK (3ème étage)</p>
        </div>

        <!-- Quick Links -->
        <div class="footer-links">
            <h3>Liens Rapides</h3>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/a-propos">À propos</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contacts</a></li>
            </ul>
        </div>

    </div>

    <!-- Copyright -->
    <div class="footer-bottom">
        <p>&copy; 2024 Republik Entertainment. Tous droits réservés.</p>
    </div>
</footer>

</body>
</html>
